* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(white 50%, blue 50%);
}

.hidden {
    color: aliceblue;
}

.wrapper {
    cursor: pointer;
    border-radius: 30px;
    padding: 5% 10%;
    display: inline-block;
    background-color: cadetblue;
    text-align: center;
    align-items: center;
}

.wrapper h1 {
    font-size: 1.5rem;
    /* color: aliceblue; */
    text-align: left;
}